<nav class="minavbar">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a routerLink="/">
        <img src="../../assets/images/logo.png" id="logo">
      </a>
      <h1>{{title}}</h1>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/hotels">Inicio</a></li>
        <li><a routerLink="/create-hotel">Create</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  <div class="clearfix"></div>
</nav>

<section class="main">
  <router-outlet></router-outlet>
  <div class="clearfix"></div>
</section>

